.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
  }
  
  .success-message {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .illustration {
    width: 250px;
    margin-bottom: 20px;
  }
  
 #success-title {
    color: #4caf50;
  }
  
  #subTitle {
    color: #555;
  }
  
  .proceed-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .proceed-button:hover {
    background-color: #45a049;
  }