.row{
    margin: 0;
    padding: 0;  
    height: 90vh;
}
.row .left-col {
  background-color: #ffffff;
  padding: 3.5rem 0 0 0;
  height: 92vh;
  color: #1B1B1B;
  margin: 0 !important;
}

.left-col .form-title{
    font-size: 78px;
    font-weight: 700;
}

.left-col .form-subtitle{
    font-size: 20px;
    font-weight: 500;
    padding: 0 0;
}

.row .right-col {
    background: url('../../images/login_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    height: 92vh;
    padding-left: 4.8rem;
    margin: 0 !important;
  }

.form-container{
    padding: 0 10rem;
    margin: 4rem 0 0 0;
}

.form-container .input-username{
    background-color: rgba(255, 172, 193, 0.17);
    color: #1B1B1B;
}

form .label{
    color: #1B1B1B;
    text-align: start;
    padding:10px 2px;
} 

form .input-field{
    height: 3.0rem;
    background-color: rgba(255, 172, 193, 0.17);
    color: #1B1B1B;
    box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

form .login-btn:hover{
    background-color: #a8012a;
    color: #ffffff;
}

form .login-btn:focus,
form .login-btn{
    background-color: #CB0033;
    color: #ffffff;
    height: 3.0rem;
    border-radius: 12px;
    margin: 2rem 0 0 0;
    font-size: 20px;
    font-weight: 600;
}

.register-text{
    color: #1B1B1B;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 0 0 0;
}

.right-col .title{
    text-align: start;
    color: white;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 2rem;
}

.right-col .subtitle{
    text-align: start;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.form-container .forgot-password{
    color: #1B1B1B !important;
    font-size: 14px;
    font-weight: 500;
    padding: 1rem 0 0 0;
    text-align: end;
}